@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: hsl(0, 0%, 98%);
  --color-elements-light: hsl(0, 0%, 100%);
  --color-text-light: hsl(200, 15%, 8%);
  --color-input-light: hsl(0, 0%, 52%);
  --color-background-dark: hsl(207, 26%, 17%);
  --color-elements-dark: hsl(209, 23%, 22%);
  --color-text-dark: hsl(0, 0%, 100%);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--color-background-light);
  --color-text: var(--color-text-light);
  --color-elements: var(--color-elements-light);
}

[data-theme='dark'] {
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
    --color-elements: var(--color-elements-dark);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-background-dark);
    --color-text: var(--color-text-dark);
    --color-elements: var(--color-elements-dark);
  }
} */

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
