@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define styles for the default root window element */
:root {
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --accent-color: hsl(0, 0%, 100%);
}

/* Define styles for the root window with dark - mode preference */
:root.dark {
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --accent-color: hsl(209, 23%, 22%);
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background-color);
  transition: color 0.5s, background-color 0.2s;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.6;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3, p {
  color: var(--text-color);
}